/*
Title: hoffman-number-game.css
Author: Lucas Hoffman 
Date: 06/19/2021
Description: temp-conversion css file
*/

/* styling for the body */

body {
	text-align: center;
	font-size: 28px;
}

/* styling for the app header */

.app-header {
	text-align: center;
}

/* styling for return link */

.return-home {
	float: left;
}

h1 {
	text-align: center;
}